<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="NUnit" version="3.14.0" targetFramework="net472" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.9.0" targetFramework="net472" />
  <package id="Selenium.Support" version="4.15.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.15.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="119.0.6045.10500" targetFramework="net472" />
  <package id="System.Composition" version="7.0.0" targetFramework="net472" />
  <package id="System.Composition.AttributedModel" version="7.0.0" targetFramework="net472" />
  <package id="System.Composition.Convention" version="7.0.0" targetFramework="net472" />
  <package id="System.Composition.Hosting" version="7.0.0" targetFramework="net472" />
  <package id="System.Composition.Runtime" version="7.0.0" targetFramework="net472" />
  <package id="System.Composition.TypedParts" version="7.0.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net472" />
</packages>